@import "asset/css/variable.less";

.ro-main-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .ro-nav {
    max-width: 280px;
    min-width: 80px;
    height: 100%;
    background-color: #fff;
    // position: fixed;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
  }

  .ro-main {
    display: flex;
    background: @main-body-color;
    // margin-left: 280px;
    // min-height: 900px;
    // padding: 7px 20px 7px 12px;
    overflow-y: auto;
    flex-grow: 1;
  }

  .ro-body-container {
    // margin-top: 15px;
    flex: 1;
    padding: 20px;
    overflow-x: auto;
  }
}

/***
    perspective: 40px; 父
    transform: rotateX(10deg); 子
    transform-origin: 50% 100%;
*/
